<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
body, html {
  margin: 0;
  padding: 0;

  font-family: 'Helvetica', sans-serif;
}

:root {
  --bg-color-default: #f3f3f3;

  --card-color: #ffffff;

  --text-color-muted: #8d8d8d;
  --text-color-error: #ff2f2f;

  --border-color-muted: #a0a0a0;

  --button-color-primary: #2f2fa2;
  --button-text-color-primary: #ffffff;
  --button-color-disabled: #a0a0a0;

  --outline-color-focus: #242582;
  --outline-color-error: #ff2f2f;

  --progress-bar-color: #2f2fa2;
  --progress-bar-color-bg: #ffffff;
}

#app {
  overflow-x: hidden;
  background-color: var(--bg-color-default);
}
</style>