<template>
    <main class="login">
        <h1 class="login__card-header">Join our quiz!</h1>
        <form v-on:submit="submitForm" class="login__form">
            <p class="login__form-field-wrap">
                <label for="name" class="login__form-field-label">Name</label>
                <input
                    type="text"
                    id="name"
                    v-model="name"
                    class="login__form-field"
                    v-bind:class="{ 'login__form-field--error': findErrorField('name') }"
                    v-on:focus="removeErrorField('name')"
                >
                <p v-if="findErrorField('name')" class="login__form-field-error-message">
                    {{ findErrorField('name').message }}
                </p>
            </p>
            <p class="login__form-field-wrap">
                <label for="quiz-name" class="login__form-field-label">Quiz Name</label>
                <select
                    id="quizId"
                    v-model="quizId"
                    class="login__form-field"
                    v-bind:class="{ 'login__form-field--error': findErrorField('quizId') }"
                    v-on:focus="removeErrorField('quizId')"
                    v-on:change="removeErrorField('quizId')"
                >
                    <option disabled value="" class="login__form-field-option">Select quiz</option>
                    <option
                        v-for="option in quizOptions"
                        v-bind:value="option.id"
                        v-bind:key="option.id"
                        class="login__form-field-option"
                    >
                        {{ option.title }}
                    </option>
                </select>
                <p v-if="findErrorField('quizId')" class="login__form-field-error-message">
                    {{ findErrorField('quizId').message }}
                </p>
            </p>
            <p class="login__form-field-wrap">
                <input class="login__form-submit-button" type="submit" value="Join" />
            </p>
        </form>
    </main>
</template>

<script>
import { ref } from 'vue';

import { fetchQuizOptions, fetchQuestions } from '../services/printful.service';
import { postUser } from '../services/custom.service';

export default {
    name: 'Login',
    data() {
        return {
            errors: [],
            name: '',
            quizId: '',
        };
    },
    setup() {
        const quizOptions = ref([]);
        const getQuizOptions = async () => {
            quizOptions.value = await fetchQuizOptions();
        };

        return { quizOptions, getQuizOptions };
    },
    methods: {
        async submitForm(event) {
            event.preventDefault();

            if (this.name === '') {
                this.errors.push({ field: 'name', message: 'Name required' });
            }

            if (this.quizId === '') {
                this.errors.push({ field: 'quizId', message: 'Quiz required to be selected' });
            }

            if (this.errors.length > 0) {
                return false;
            }
            postUser(this.name)
                .then(({ _id: id, name }) => {
                    this.$store.dispatch('setUser', { id, name });
                    this.$store.dispatch('setCurrentQuiz', this.quizId);
                    
                    // Check if questions of specific quizId have been fetched, if so then no need to refetch again
                    if (this.$store.state.questions[this.quizId]) {
                        this.$router.push({ path: `/quiz/${this.quizId}` });
                    } else {
                        fetchQuestions(this.quizId).then((questions) => {
                            this.$store.dispatch('setQuestions', { quizId: this.quizId, questions });
                            this.$router.push({ path: `/quiz/${this.quizId}` });
                        });
                    }
                });
        },
        findErrorField(field) {
            return this.errors.find((error) => error.field === field);
        },
        removeErrorField(field) {
            const fieldIndex = this.errors.findIndex((error) => error.field === field);
            if (fieldIndex !== -1) {
                this.errors.splice(fieldIndex, 1);
            }
        }
    },
    mounted() {
        this.getQuizOptions();
    }
}
</script>

<style scoped>
.login {
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
}

.login__card-header {
    margin-top: 0;
    font-size: 2.5rem;

    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

.login__card-header,
.login__form {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

.login__form,
.login__form-field-wrap {
    display: flex;
    flex-flow: column;
}

.login__form-field-wrap {
    margin: 0.5rem 0;
}

.login__form-field-wrap:first-of-type {
    margin-top: 0;
}

.login__form-field-label,
.login__form-field-error-message {
    color: var(--text-color-muted);
    font-weight: bold;

    font-size: 0.75rem;
    line-height: 1.5rem;
}

.login__form-field-error-message {
    margin: 0;
    
    color: var(--text-color-error);
}

.login__form-field,
.login__form-submit-button {
    border-radius: 0.25rem;
    padding: 0.75rem;
    font-weight: 600;
}

.login__form-field {
    border: 2px solid var(--border-color-muted);

    cursor: pointer;
}

.login__form-field--error {
    border-color: var(--outline-color-error);
}

.login__form-field:focus,
.login__form-submit-button:focus {
    outline-color: var(--outline-color-focus);
}

.login__form-field-option {
    font-weight: 600;
}

.login__form-submit-button {
    border: 0;
    background-color: var(--button-color-primary);
    color: var(--button-text-color-primary);
    cursor: pointer;

    margin-top: 1.5rem;
    transition: opacity 0.3s ease-in-out;
}

.login__form-submit-button:hover {
    opacity: 0.85;
}

@media screen and (min-width: 768px) {
    .login {
        align-items: center;
    }

    .login__card-header {
        font-size: 3.25rem;
    }

    .login__card-header,
    .login__form {
        width: auto;
    }
}
</style>