<template>
    <div class="progress-bar__wrapper">
        <div class="progress-bar">
            <div class="progress-bar__slider" v-bind:style="{ width: getCurrentWidth() }"></div>
        </div>
        <p class="progress-bar__info">{{ currentCount }} out of {{ totalCount }} </p>
    </div>
</template>

<script>
export default {
    name: 'ProgressBar',
    props: ['currentCount', 'totalCount'],
    methods: {
        getCurrentWidth() {
            return `${this.currentCount / this.totalCount * 100}%`;
        }
    }
}
</script>

<style scoped>
.progress-bar__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.progress-bar {
    min-width: 100%;
    min-height: 16px;
    border: 2px solid var(--border-color-muted);

    background-color: var(--progress-bar-color-bg);
    border-radius: 0.75rem;

    position: relative;
    overflow: hidden;
}

.progress-bar__slider {
    position: absolute;
    height: 100%;
    background-color: var(--progress-bar-color);
}

.progress-bar__info {
    margin: 0;
    line-height: 2rem;

    font-weight: bold;
    color: var(--text-color-muted);

    font-size: 0.75rem;
}
</style>