<template>
    <main class="quiz">
        <section v-if="currentAnswers.length !== 0" class="quiz__section">
            <h2 class="quiz__question">{{ questionTitle }}</h2>
            <img v-if="questionImage !== undefined" v-bind:src="questionImage" v-bind:alt="questionTitle" class="quiz__question-image"/>
            <form v-on:submit="submitForm" class="quiz__form">
                <div class="quiz__answer-list">
                    <div
                        v-for="answer in currentAnswers"
                        v-bind:key="answer.title"
                        class="quiz__answer"
                        v-bind:class="{ 'quiz__answer--selected': answer.id === selectedAnswer }"
                    >
                        <input
                            type="radio"
                            name="answer"
                            v-bind:value="answer.id"
                            v-bind:id="answer.id"
                            v-model="selectedAnswer"
                            class="quiz__answer-checkbox"
                        >
                        <label v-bind:for="answer.id" class="quiz__answer-label">{{ answer.title }}</label>
                    </div>
                </div>
                <progress-bar :currentCount="step" :totalCount="questions[quizId].length"></progress-bar>
                <input type="submit" value="Next Question" class="quiz__submit-button" v-bind:disabled="selectedAnswer === null">
            </form>
        </section>
    </main>
</template>

<script>
import { ref } from 'vue';
import { mapState } from 'vuex';

import { fetchAnswers } from '../services/printful.service';
import ProgressBar from './ProgressBar.vue';

export default {
    name: 'Quiz',
    props: ['id'],
    components: {
        'progress-bar': ProgressBar
    },
    data() {
        return {
            step: 0,
            selectedAnswer: null
        }
    },
    setup() {
        const currentAnswers = ref([]);
        const nextAnswers = ref([]);
        
        // Preload next answer to make it look more seamless
        const getAnswers = async (quizId, currentQuestionId, nextQuestionId) => {
            if (nextAnswers.value.length !== 0) {
                currentAnswers.value = nextAnswers.value;
                if (nextQuestionId !== null) {
                    nextAnswers.value = await fetchAnswers(quizId, nextQuestionId);
                }
            } else {
                currentAnswers.value = await fetchAnswers(quizId, currentQuestionId);
                nextAnswers.value = await fetchAnswers(quizId, nextQuestionId);
            }
        };

        return { currentAnswers, getAnswers };
    },
    computed: {
        ...mapState([ 'quizId', 'questions' ]),
        questionTitle() {
            const currentQuestion = this.questions[this.quizId][this.step];
            return (typeof currentQuestion !== 'undefined') ? currentQuestion.title : '';  
        },
        questionImage() {
            const currentQuestion = this.questions[this.quizId][this.step];
            return (typeof currentQuestion !== 'undefined') ? currentQuestion.image : undefined;  
        }
    },
    methods: {
        currentAnswerId() {
            return this.questions[this.quizId][this.step].id;
        },
        nextAnswerId() {
            return (this.step >= this.questions[this.quizId].length - 1) ? null : this.questions[this.quizId][this.step + 1].id;
        },
        submitForm: function (event) {
            event.preventDefault();

            if (this.selectedAnswer === null) {
                return;
            }

            if (this.step === this.questions[this.quizId].length - 1) {
                this.$store.dispatch('addAnswer', this.selectedAnswer);
                this.$router.push({ path: `/results` });
                return;
            } 

            this.step += 1;
            this.$store.dispatch('addAnswer', this.selectedAnswer);
            this.getAnswers(this.quizId, this.currentAnswerId(), this.nextAnswerId());
            this.selectedAnswer = null;
            window.scrollTo(0, 0);
        }
    },
    async created() {
        await this.getAnswers(this.quizId, this.currentAnswerId(), this.nextAnswerId());
    }
}
</script>

<style scoped>
.quiz {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    min-height: 100vh;
}

.quiz__section {
    padding: 0 1rem;
    min-width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-flow: column;
}

.quiz__question {
    padding: 0;
    text-align: center;
}

.quiz__question-image {
    width: 300px;
    height: 200px;

    align-self: center;
    object-fit: cover;
}

.quiz__form {
    display: flex;
    flex-flow: column;
}

.quiz__answer-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    margin: 0 -1rem 2rem;
}

.quiz__answer {
    display: flex;
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem;    
    background-color: var(--card-color);
    border-radius: 0.5rem;
    border: 2px solid var(--border-color-muted);

    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.quiz__answer:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.quiz__answer:focus-within,
.quiz__answer--selected {
    border: 2px solid var(--outline-color-focus);
}

.quiz__answer-checkbox {
    position: absolute;
    opacity: 0;
}

.quiz__answer-label {
    padding: 1.25rem;

    flex-grow: 1;
    cursor: pointer;

    font-weight: bold;
    text-align: center;
}

.quiz__submit-button {
    border: 0;
    background-color: var(--button-color-primary);
    color: var(--button-text-color-primary);
    cursor: pointer;

    margin: 1rem 0 1rem;
    transition: opacity 0.3s ease-in-out;

    border-radius: 0.25rem;
    padding: 1.25rem;
    font-weight: 600;
}

.quiz__submit-button:hover:not(:disabled) {
    opacity: 0.85;
}

.quiz__submit-button:focus {
    outline-color: var(--outline-color-focus);
}

.quiz__submit-button:disabled {
    background-color: var(--button-color-disabled);
    cursor: not-allowed;
}

@media only screen and (min-width: 768px) {
    .quiz__section {
        padding: 0 10rem;
        box-sizing: content-box;

        min-width: 700px;
        max-width: 700px;
    }

    .quiz__question {
        padding: 0 4rem
    }

    .quiz__answer-list {
        flex-flow: row wrap;
    }

    .quiz__answer {
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    .quiz__answer-label {
        padding: 2rem;
    }

    .quiz__submit-button {
        padding: 2rem;
        margin: 2rem 0 1rem;
    }
}
</style>
