<template>
    <main class="results">
        <section class="results__section" v-if="results.total > 0">
            <h1 class="results__title">Congratulations {{ user.name }},</h1>
            <h2 class="results__title">you've answered to {{ results.correct }} out of {{ results.total }} answers correctly!</h2>
            <div class="results__action-group">
                <button v-on:click="tryAgain" class="results__button">Try again</button>
                <button v-on:click="newQuiz" class="results__button">New quiz</button>
            </div>
        </section>
    </main>
</template>

<script>
import { mapState } from 'vuex';
import { postCompletedQuiz } from '../services/custom.service';
import { fetchResults } from '../services/printful.service';

export default {
    name: 'Results',
    data() {
        return {
            results: {
                correct: 0,
                total: 0
            }
        }
    },
    computed: mapState([ 'user', 'quizId', 'answers' ]),
    methods: {
        tryAgain() {
            this.$router.push({ path: `/quiz/${this.quizId}` });
        },
        newQuiz() {
            this.$router.push({ path: '/' });
        },
        setResults(results) {
            this.results = results;
        }
    },
    async created() {
        const results = await fetchResults(this.quizId, this.answers);
        this.results = results;
        postCompletedQuiz(this.user.id, this.quizId, this.answers, results);
    },
    unmounted() {
        this.$store.dispatch('clearAnswers');
    }
}
</script>

<style scoped>
.results {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
}

.results__section {
    padding: 0 2rem;
}

.results__title {
    text-align: center;
}

.results__action-group {
    display: flex;
    flex-flow: column nowrap;
}

.results__button {
    flex-grow: 1;

    border: 0;
    background-color: var(--button-color-primary);
    color: var(--button-text-color-primary);
    cursor: pointer;
    
    margin-top: 2rem;
    transition: opacity 0.3s ease-in-out;

    border-radius: 0.25rem;
    padding: 1rem;
    font-weight: 600;
}

.results__button:hover:not(:disabled) {
    opacity: 0.85;
}

.results__button:focus {
    outline-color: var(--outline-color-focus);
}

.results__button:disabled {
    background-color: var(--button-color-disabled);
    cursor: not-allowed;
}

@media screen and (min-width: 768px) {
    .results__section {
        max-width: 700px;
        min-width: 700px;

        padding: 0;
    }

    .results__action-group {
        display: flex;
        flex-flow: row nowrap;
    }

    .results__button {
        margin: 2rem;
    }
}
</style>